.DS_Store
*.o
*.dll
*.pd_darwin
*.pd_linux

help/.DS_Store
help/ultraleap.dll
help/ultraleap.pd_darwin
help/ultraleap.pd_linux
help/LeapC.so
help/LeapC.dylib
help/LeapC.dll
help/lib/.DS_Store

pd-lib-builder/.DS_Store

src/.DS_Store
src/*.o
src/*.dll
src/*.pd_darwin
src/*.pd_linux
